.hangman-image {
    width: 600px;
    /* Adjust this value as needed */
    height: auto;
    position: relative;
    left: 0px;
    top: -200px;
    /* Maintain aspect ratio */
}

body {
    background-color: black;
    color: white;
    /* Set text color to white for better visibility */
}

.popup-message {
    display: none; /* Hide the pop-up message by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}