{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
    <h1 class="mt-5">Player Statistics</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h5>Username:</h5>
            <p>{{ account.username }}</p>
        </div>
        <div class="col-md-6">
            <h5>Email:</h5>
            <p>{{ account.email }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h5>Total Games Played:</h5>
            <p>{{ account.total_games_played }}</p>
        </div>
        <div class="col-md-6">
            <h5>Total Wins:</h5>
            <p>{{ account.total_wins }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h5>Total Losses:</h5>
            <p>{{ account.total_losses }}</p>
        </div>
        <div class="col-md-6">
            <h5>Win Rate:</h5>
            <p>{{ account.win_rate }}</p>
        </div>
    </div>
    <hr>
    <a href="{{ url_for('index') }}" class="btn btn-primary">Back to Home</a>
    {% else %}
    <p>Please log in to view player stats.</p>
    {% endif %}
{% endblock %}